<!-- Main layout is the HTML page wrapper which can be reused for the different views of the app. (((body))) is used as a placeholder for where the main content should be rendered -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">

  <title>Document</title>
</head>

<body>
  {{{body}}}
</body>

</html>