{{#each articles}}
<div id="articlesContainer">
<div>
    <a href="/articles/{{title}}" id="articleTitle">{{title}}</a>
</div>
</div>
{{/each}}

<br>
{{>footer}}
{{> backToArticles}}
{{> backToArticleForm}}