<h1 class="selectedItem">Your selected article:</h1>
<h2>Title: {{title}}
  <br>Body: {{body}}
  <br>Author: {{author}}
</h2>
<br>
<a class="edit" href="/articles/{{title}}/edit">Edit Article</a>
<br><br>
<a class="redirect" href="/articles"><i class="fas fa-arrow-circle-left"></i> Back to Articles</a>
<br> {{> footer}}