<h1>Your selected article:</h1>
<h2>Title: {{title}}
  <br>Body: {{body}}
  <br>Author: {{author}}
</h2>
<a href="/articles/{{title}}/edit">Edit Article</a>
<br>
<a href="/articles">Back to Articles</a>