<form action="/products/edit" method="post" id="editForm">
    <label id="editNameLabel">
        NAME: 
    <br>
    <input type="text" name="nameEdit" id="editNameInput" placeholder="name">
    </label>
    <br>
    <label id="editPriceLabel">
        PRICE:
        <br>
        <input type="text" name="priceEdit" id="editPriceInput" placeholder="price">
    </label>
    <input type="submit" value="SUBMIT" classname="submitButton">
</form>