<img src="/assets/abstract-blue2.jpg" alt="FormBackground" id="formBackground">
<form action="/products/new" method="post" id="createForm">
<label id="nameLabel">
        NAME: 
    <br>
        <input type="text" name="name" id="nameInput" placeholder="[New product name here]">
</label>
    <br>
<label id="priceLabel">
        PRICE:
    <br>
        <input type="text" name="price" id="priceInput" placeholder="[Enter the price here]">
</label>
    <br>
<label id="inventoryLabel">
        INVENTORY:
    <br>
        <input type="text" name="inventory" id="inventoryInput" placeholder="[Product quantity here]">
</label>
    <br>
<label id="descriptLabel">
    DESCRIPTION:
<br>
    <input type="text" name="description" id="descriptInput" placeholder="[A brief product description here]">
</label>
    <br>
<input type="submit" value="SUBMIT" id="submitButton">
</form>

{{>footer}}
