<form action="/products/new" method="post" id="createForm">
<label id="nameLabel">
        Name: 
    <br>
        <input type="text" name="name" id="nameInput" placeholder="New product name here ...">
</label>
    <br>
<label id="priceLabel">
        Price:
    <br>
        <input type="text" name="price" id="priceInput" placeholder="Enter the price here ... ">
</label>
    <br>
<label id="inventoryLabel">
        Inventory:
    <br>
        <input type="text" name="inventory" id="inventoryInput" placeholder="Product quantity here ... ">
</label>
    <br>
<label id="descriptLabel">
    Description:
<br>
    <input type="text" name="description" id="descriptInput" placeholder="A brief product description here ... ">
</label>
    <br>
<input type="submit" value="Submit" id="submitButton">
</form>