<!--Content for the app's home view which will be rendered into the layout's {{{body}}}-->

<h1>Content Management System</h1>
<div>
  <a href="/products">Products</a>
  <br>
  <a href="/articles">Articles</a>
</div>
<br>
<a href="/products/new">Enter New Product</a>
<br>
<a href="/articles/new">Enter New Article</a>