<!--Content for the app's home view which will be rendered into the layout's {{{body}}}-->

<div id="title">
  <h1>Content Management System</h1>
</div>

<div id="content">

  <div id="products">
    <a href="/products">
      <img src="/css/productBox.png" alt="productBox" height="300"><p>Products</p>
    </a>
  </div>

  <div id="articles">
    <a href="/articles">
      <img src="/css/articles.png" alt="articles" height="300"><p>Articles</p>
    </a>
  </div>
</div>