<h1>CMS ARTICLES & PRODUCTS</h1>
<div id="container">
    <div id="prodDiv">
        <a href="/products" id="prodLink">PRODUCTS</a>
    </div>
    <div id="articleDiv">
        <a href="/articles" id="articlesLink">ARTICLES</a>
    </div>
    {{!-- <div id="createDiv">
            <a href="/products/new" id="createLink">CREATE PRODUCT</a>      
            <br>
            <br>        
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="/articles/new" id="createArticle">CREATE ARTICLE</a>
    </div> --}}
</div>
