<h1>Products</h1>
{{#each productItems}}
<div>
  <a href="/products/{{id}}">{{name}}</a>
</div>
{{/each}}

<br><br>

<h1>Articles</h1>
{{#each articleItems}}
<div>
  <a href="/articles/{{title}}">{{title}}</a>
</div>
{{/each}}
<br>
<a href="/">HOME</a>