{{#if addingProduct}}
<form action="/products" method="post">
  <label>Name:<br>
    <textarea name="name" id=""></textarea>
  </label>
  <br><br>
  <label>Price:<br>
    <textarea name="price" id=""></textarea>
  </label>
  <br><br>
  <label>Inventory:<br>
    <textarea name="inventory" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<br>
<a class="redirect" href="/products"><i class="fas fa-arrow-circle-left"></i> Back to Products</a>
{{/if}} {{#if addingProductError}}
<h1>Problem with submitting new product. Please fill in all fields and try again.</h1>
<form action="/products" method="post">
  <label>Name:<br>
    <textarea name="name" id=""></textarea>
  </label>
  <br><br>
  <label>Price:<br>
    <textarea name="price" id=""></textarea>
  </label>
  <br><br>
  <label>Inventory:<br>
    <textarea name="inventory" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<br>
<a class="redirect" href="/products"><i class="fas fa-arrow-circle-left"></i> Back to Products</a>
{{/if}} {{#if addingArticle}}
<form action="/articles" method="post">
  <label>Title:<br>
    <textarea name="title" id=""></textarea>
  </label>
  <br><br>
  <label>Body:<br>
    <textarea name="body" id=""></textarea>
  </label>
  <br><br>
  <label>Author:<br>
    <textarea name="author" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<br>
<a class="redirect" href="/articles"><i class="fas fa-arrow-circle-left"></i> Back to Articles</a>
<br> {{> footer}} {{/if}} {{#if addingArticleError}}
<h1>Problem with submitting new article. Please fill in all fields and try again.</h1>
<form action="/articles" method="post">
  <label>Title:<br>
    <textarea name="title" id=""></textarea>
  </label>
  <br><br>
  <label>Body:<br>
    <textarea name="body" id=""></textarea>
  </label>
  <br><br>
  <label>Author:<br>
    <textarea name="author" id=""></textarea>
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<br>
<a class="redirect" href="/articles"><i class="fas fa-arrow-circle-left"></i> Back to Articles</a>
<br> {{> footer}} {{/if}}