<form action="/products" method="post">
  <label>Name:
    <input type="text" name="name" id="">
  </label>
  <label>Price:
    <input type="text" name="price" id="">
  </label>
  <label>Inventory:
    <input type="text" name="inventory" id="">
  </label>
  <input type="submit" value="Submit">
</form>

<div>
  {{#if errorFlag}}
  <p>{{content}}</p>
  {{/if}}
</div>
<br>

<form action="/articles" method="post">
  <label>Title:
    <input type="text" name="title" id="">
  </label>
  <label>Body:
    <input type="text" name="body" id="">
  </label>
  <label>Author:
    <input type="text" name="author" id="">
  </label>
  <input type="submit" value="Submit">
</form>

<br>{{> footer}}