{{#if addingProduct}}
<form action="/products" method="post">
  <label>Name:
    <textarea name="name" id=""></textarea>
  </label>
  <label>Price:
    <textarea name="price" id=""></textarea>
  </label>
  <label>Inventory:
    <textarea name="inventory" id=""></textarea>
  </label>
  <input type="submit" value="Submit">
</form>
<br>
<a href="/products">Back</a>
{{/if}} {{#if addingArticle}}
<form action="/articles" method="post">
  <label>Title:
    <textarea name="title" id=""></textarea>
  </label>
  <label>Body:
    <textarea name="body" id=""></textarea>
  </label>
  <label>Author:
    <textarea name="author" id=""></textarea>
  </label>
  <input type="submit" value="Submit">
</form>
<br>
<a href="/articles">Back</a>
{{/if}}