<h1 class="selectedItem">Your selected product:</h1>
<h2>Name: {{name}}
  <br>Price: ${{price}}
  <br>Inventory: {{inventory}}
</h2>
<br>
<a class="edit" href="/products/{{id}}/edit">Edit Product</a>

<br><br>
<a class="redirect" href="/products"><i class="fas fa-arrow-circle-left"></i> Back to Products</a>
<br> {{> footer}}