{{!-- <h3>[INSERT PRODUCTS HERE]</h3> --}}
{{!-- <img src="/assets/abstract-blue2.jpg" width="100%" height="100%" background-size="cov" alt="productsHeader"> --}}
{{#each products}}
<div>
    <a href="/products/{{id}}" class="productName">{{name}}</a>
</div>
{{/each}}
<br>
<br>


{{> backToForms}}
{{> footer}} 

