body{
    background-color: black;
    color: white;
    /* text-align: center; */
    font-family: 'Poiret One', cursive;
}

h1{
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 5px darkgrey;
}

#prodLink, #articlesLink {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-shadow: 2px 5px darkgrey;
}

#createLink, #createArticle {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-shadow: 2px 5px darkgrey;
}



/* #createLink {
    align-content: center;
}

#prodLinkDiv {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: 2px 5px darkgrey;
    text-align: center;
    padding: 5%;
}

#artLinkDiv {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: 2px 5px darkgrey;
    text-align: center;
    padding: 5%;
} */

#container{
    /* display: inline-block; */
    display: flex;
}

#prodDiv, #articleDiv {
    /* display: inline-block;
    d
    text-align: left;
    margin-left: 25%; */
    /* background-color: white; */
    height: auto;
    width: 50%;
    border: 1px solid white; 
    padding: 25% 10% 20% 10%;
    text-align: center;
}
#prodDiv{
    background-image: url('/assets/abstract-blue2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#createDiv {
    padding: 15% 10% 10% 10%; 
    /* padding: 10%; */
    background-image: url('/assets/abstract-blue3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#articleDiv {
    background-image: url('/assets/abstract-blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.productName, .articleTitle {
    color: white;
    text-decoration: none;
}


/* #createForm {
    text-align: center;
    margin: 10%;
} */

#formBackground, #articleFormBackground{
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /* opacity: 0; */
    z-index: -1;
}

#nameLabel, #priceLabel, #inventoryLabel, #descriptLabel, #titleLabel, #authorLabel, #bodyLabel  {
    margin-left: 1%;
    color: white;
    display: block;
    /* text-shadow: 2px 5px darkgrey; */
    font-weight: bolder;
}

#nameInput, #titleInput{
    height: 30px;
    width: 50%;
}

#priceInput, #authorInput {
    height: 30px;
    width: 50%;
}

#inventoryInput {
    width: 50%;
    height: 30px;
}

#descriptInput, #bodyInput  {
    height: 100px;
    width: 50%;
    
}

.submitButton {
    font-family: 'Poiret One', cursive;
    color: white;
    border: 2px solid white;
    background-color: black;
    padding: 0.5%;
    font-size: 15px;
    border-radius:4px;
    box-shadow: 2px 5px 5px darkgrey;

}

input[type=text]{
    border: 1px solid lightskyblue;
    border-radius: 4px;
    padding: 0.5% 1% 0.5% 1%;
    width: 50%;
    margin: 1%;

}

#footer, #backToProducts, #backToForms, #backToArticleForm, #backToArticles {
    position: absolute;
    top: 95%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 15px;
    /* text-shadow: 2px 5px darkgrey; */
    border: 2px solid white;
    padding: 0.5%;
    border-radius: 4px;
    box-shadow: 2px 5px 5px darkgrey;
}

#backToProducts, #backToForms, #backToArticleForm, #backToArticles {
    left: 12%;
}

#articleTitle{
    font-style: italic;
}