<form action="/products/new" method="post">
  <label>Name:
    <input type="text" name="name" id="">
  </label>
  <label>Price:
    <input type="text" name="price" id="">
  </label>
  <label>Inventory:
    <input type="text" name="inventory" id="">
  </label>
  <input type="submit" value="Submit">
</form>

<a href="/">Back to Home</a>